.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.getReport {
    margin-top: 20px;
    margin-left: 20px;
    font-size: large;
    font-weight: bold;
    background-color: lightgrey;
}